* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 500px;
  height: 500px;
  overflow: visible;
}

.love {
  fill: #ea80b0;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
